@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');
@import url('./buttons.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #121212;
    --on-background: white;

    --surface: rgba(255, 255, 255, 0.050);

    --primary: #B82ADA;
    --secondary: #1bcddb;
    --success: lightgreen;
    --error: red;

    --padding: 20%;
}

a {
    color: var(--secondary);
}

html {
    scroll-behavior:smooth
}

body {
    background-color: var(--background-color);
    color: var(--on-background);
    font-family: 'Poppins', sans-serif;
    font-display: swap;
}

.error {
    color: var(--error);
}

.success {
    color: var(--success);
}

.hide {
    display: none;
}

.display {
    font-family: 'Concert One', Copperplate, Papyrus, fantasy;
    font-size: 3rem;
    font-display: swap;
    color: white;
}

.display.medium {
    font-size: 2rem;
}

.display.inline {
    display: inline-block;
}

p.large {
    font-size: 1.2rem;
}

.display.large {
    font-size: 5rem;
}

.display.huge {
    font-size: 20rem;
}

.gradient {
    background: rgb(255,0,225);
    background: -moz-linear-gradient(86deg, rgba(255,0,225,1) 19%, rgba(0,255,255,1) 75%);
    background: -webkit-linear-gradient(86deg, rgba(255,0,225,1) 19%, rgba(0,255,255,1) 75%);
    background: linear-gradient(86deg, rgba(255,0,225,1) 19%, rgba(0,255,255,1) 75%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff00e1",endColorstr="#00ffff",GradientType=1); 
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button.gradient {
    background: rgb(255,0,225);
    background: -moz-linear-gradient(86deg, rgba(255,0,225,1) 19%, rgba(0,255,255,1) 75%);
    background: -webkit-linear-gradient(86deg, rgba(255,0,225,1) 19%, rgba(0,255,255,1) 75%);
    background: linear-gradient(86deg, rgba(255,0,225,1) 19%, rgba(0,255,255,1) 75%);
    color: white;
    filter: none;
    background-clip: 0;
    -webkit-text-fill-color: initial;
}

.section {
    background-color: var(--surface);
    position: relative;
    display: inline-block;
    border-radius: .5rem;
    max-width: 50%;
}

.section > section {
    display: inline-block;
    width: 100%;
}

div.center {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showcase > .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 300px;
    gap: 10rem;
}

.showcase > .row.reversed {
    flex-direction: row-reverse;
}

.showcase > .row > img {
    height: 100%;
    max-width: 40%;
}

.showcase > .row > .mid > section {
    min-width: 400px;
    max-width: 500px;
}

.section > .display {
    display: inline-block;
}

.section > section {
    padding: 2rem;
}

div.stack {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
}

div.stack.smallgap {
    gap: 1rem;
}

div.mid {
    display: flex;
    align-items: center;
}

path {
    fill: white;
}

div[aria-type="icon"] {
    display: inline-block;
    width: 2rem;
    height: 2rem;
}

div[aria-type="icon"].small {
    width: 1rem;
    height: 1rem;
}

.hero {
    min-height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
}


.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo > h1 {
    font-size: 2.5rem;
}

.logo > img {
    height: 5rem;
}

path.divider {
    fill: var(--surface);
}

svg.divider {
    display: block;
}

.padded {
    padding-left: var(--padding);
    padding-right: var(--padding);
}

.top {
    background-color: var(--surface);
    width: 100%;
    min-height: 10rem;
}

.commands-row {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1rem;
}

.bottom {
    background-color: var(--surface);
    width: 100%;
    min-height: 5rem;
}

.searchbar {
    display: flex;
    width: 100%;
    border-radius: 0.2rem;
    overflow: hidden;
}

.searchbar > .button {
    border-radius: 0 0.2rem 0.2rem 0;
    gap: 0.3rem;
}

.searchbar > input {
    background-color: var(--surface);
    border: 0;
    color: white;
    padding: 0.5rem;
    width: 30%;
}

footer {
    padding: 2rem;
    text-align: center;
}

th {
    background-color: var(--primary);
}

table {
    background-color: var(--surface);
    width: 100%;
}

td, th {
    padding: 0.4rem;
    text-align: center;
}

tr:nth-child(odd) {
    background-color: var(--surface);
}

#slogan-idk {
    font-size: 1.5rem;
}

.stats.primary {
    --stats_bg: var(--primary);
}

.stats.secondary {
    --stats_bg: var(--secondary);
}

.stats.surface {
    --stats_bg: var(--surface);
}

.stats.topgg {
    --stats_bg: #FF3366;
    cursor: pointer;
}

.stats {
    display: flex;
    justify-content: space-between;
    padding: 0.0rem 0.5rem 0.0rem 0.5rem;
    background-color: var(--stats_bg);
    gap: 1rem;
    border-radius: 0.5rem;
}

.stats > div[aria-type="icon"] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.stats > .body {
    padding: 1rem;
}

.legal-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.legal {
    background-color: var(--surface);
    padding: 2rem;
    max-width: 70ch;
}

@media only screen and (max-width: 1500px) {

    .showcase > .row > .mid > section {
        min-width: 0px;
    }

    .showcase > .row {
        gap: 4rem;
    }
 
}

@media only screen and (max-width: 1150px) {
    .stats {
        padding: 0.0rem 0.2rem 0.0rem 0.2rem;
        gap: 0.2rem;
    }
    
    .stats > .body {
        padding: 0.2rem;
    }

    #slogan-idk {
        font-size: 1rem;
    }

    .showcase > .row {
        gap: 0;
        justify-content: center;
        flex-direction: column;
    }

    .showcase > .row > .mid {
        width: 100%;
    }

    .showcase > .row.reversed {
        flex-direction: column;
    }
 
    .showcase > .row > img {
        width: 100%;
        max-width: 100%;
    }

}

@media only screen and (max-width: 600px) {

    .searchbar > input {
        width: 80%;
    }

    .display.large {
        font-size: 2.5rem;
    }

    .display.huge {
        font-size: 10rem;
    }

    .logo > h1 {
        font-size: 2rem !important;
    }
    
    .logo > img {
        height: 2.5rem;
    }

    .showcase > .row {
        align-items: center;
        flex-direction: column;
        justify-content: 0;
        gap: 0;
    }

    .showcase > .row.reversed {
        flex-direction: column;
    }

    .showcase > .row > * {
        max-width: 100%;
    }

    :root {
        --padding: 10%;
    }
  }