@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: white;
}

.title {
    font-family: 'Oswald', sans-serif;
    display: inline;
    font-size: 1.7rem;
}

.padding {
    padding: 0.5rem 11% 0 11%;
}

.navbar {
    padding: 0rem 10% 0rem 10%;
    width: 100%;
    background-color: #1f1f1f;
    display: flex;
    justify-content: space-between;
    height: 5rem;
}

.navbar img {
    width: 70px;
    border-radius: 2rem;
    height: 4rem;
}

.logo {
    margin: 0.5rem;
    gap: 0.3rem;
    display: flex;
    align-items: center;
}

.links {
    height: 4rem;
}

.links ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.links .first {
    width: 1rem;
    border-radius: 5rem 0 0 5rem;
}

.links .last {
    width: 1rem;
    border-radius: 0 5rem 5rem 0;
}

.first:hover, .last:hover {
    background-color: #2b2b2b !important;
}

.links li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 5rem;
    background-color: #2b2b2b;
    transition: .2s;
}

.links li:hover {
    background-color: #3d3d3d;
}

.links a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

.big-title {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
}

a, b {
    color: rgb(226, 43, 43);
}

.section {
    padding-bottom: 1rem;
    font-size: 1.2rem;
}

ul {
    margin-left: 1rem;
}

small {
    color: lightgray;
}

#repo {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
}

#repo svg {
    width: 50px;
}

#repo path {
    width: 50px;
    fill: white;
}

@media only screen and (max-width: 700px) {
    .navbar .title {
        display: none;
    }

    .navbar {
        padding: 0 0.5rem 0 0.5rem;
    }

    .padding {
        padding: 0 0.5rem 0 0.5rem;
    }

    .section {
        font-size: 1.1rem;
    }
}