# PUBLIC VARIABLES
PUBLIC_SKU_STORE=https://discord.com/discovery/applications/1202623821010436147/store
# The link to your premium entitlement
PUBLIC_PREMIUM_SKU_STORE_LINK=https://discord.com/discovery/applications/1202623821010436147/store/1420338984797601872

# PRIVATE VARIABLES
# Discord oAuth2
DISCORD_CLIENT_ID=1202623821010436147
# find in your application settings under oAuth2
DISCORD_CLIENT_SECRET=XXXX
AUTH_SECRET=XXXX
BOT_ADDED_URL=http://127.0.0.1:5173/auth/bot-added

# Secret used for signing JWTs, used for RSS subscriptions
JWT_SECRET=xxxxx

# Private APi
API_URI=http://localhost:2003
# This value is used to authenticate requests between the sveltekit dashboard and bot private API. Make sure you input the exact same key in the bot config as well.
SHARED_API_SECRET=xX_zecret_value_Xx

# Redis
# (redis auth is currently unused, you may set whatever you'd like)
REDIS_USER=stigman
REDIS_PASSWORD=i_love_stigman