# PUBLIC VARIABLES
# THESE ARE UN-USED
PUBLIC_SKU_STORE=https://discord.com/discovery/applications/880097206818988043/store
PUBLIC_SKU_BASIC=https://discord.com/discovery/applications/880097206818988043/store/1326343068533653635
PUBLIC_SKU_EXTENDED=https://discord.com/discovery/applications/880097206818988043/store/1326343068533653635

# PRIVATE VARIABLES
# Discord oAuth2
DISCORD_CLIENT_ID=1202623821010436147
DISCORD_CLIENT_SECRET=XXXX # Discord application (not bot) secret
AUTH_SECRET=XXXX 
BOT_ADDED_URL=http://127.0.0.1:5173/auth/bot-added # For callbacks after a user adds the bot thru /dashboard

# TOPGG WEBHOOKS
TOPGG_SECRET="STIGMAN_GAMING"

# Private APi
API_URI=http://localhost:2003 # Same as the host in /bot/config.json5
SHARED_API_SECRET=XXXX # Same as the host in /bot/config.json5

# Redis
REDIS_USER=threadwatcher
REDIS_PASSWORD=XXXX