# Discord oAuth2
DISCORD_CLIENT_ID=1202623821010436147
DISCORD_CLIENT_SECRET=SECRET
AUTH_SECRET=SECRET
BOT_ADDED_URL=http://127.0.0.1:5173/auth/bot-added

# Private APi
API_URI=http://localhost:2003
SHARED_API_SECRET=SECRET